*{

box-sizing:border-box;

}


body{

margin:0;

font-family:'Poppins',sans-serif;

background:

linear-gradient(
135deg,
#0f172a,
#1d4ed8
);


color:white;

}



header{

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

padding:20px;

}



.logo{

width:120px;

}



header h1{

font-size:55px;

margin-bottom:10px;

}



header h2{

font-size:30px;

}



header p{

font-size:20px;

opacity:.8;

}



button{


padding:

15px 40px;


border-radius:50px;


border:none;


background:#facc15;


font-size:18px;


font-weight:bold;


cursor:pointer;


transition:.3s;


}



button:hover{

transform:scale(1.08);

}



#candidate{


background:white;

color:#111;

padding:80px 20px;


text-align:center;


}



.cards{


display:flex;

justify-content:center;

gap:40px;

flex-wrap:wrap;


}



.candidate-card{


width:320px;


background:white;


border-radius:25px;


padding:30px;


box-shadow:

0 20px 50px #0003;


}



.candidate-card img{


width:180px;


height:180px;


border-radius:50%;


object-fit:cover;


}



.candidate-card button{


background:#2563eb;

color:white;


}



.result{


padding:70px;

text-align:center;


}



#hasil{


font-size:25px;


}



footer{


padding:20px;

text-align:center;


background:#020617;


}
